<script type="text/javascript" src="<%= asset_path "pages/recipes_form.js" %>"></script>

<div class="span8 offset2">
  <div class="well">
    <h2><%= @title %></h2>
    <%= form_for(@recipe, :html => { :onsubmit => "return Validator.validate({ group: \"recipe_form\", showMessage: true })" }) do |f| %>
      <%= render "layouts/errors" %>

      <h4>Název</h4>
      <div class="row-fluid spacer">
        <div class="span4">
          <%= f.text_field :name, :placeholder => "Název receptu" %>
        </div>
        <div class="span4">
          <p>
            Obrázek: dočasně staženo
            <%#= f.hidden_field :image_cache %>
            <%#= f.file_field :image %>
          </p>
        </div>
      </div>

      <hr />

      <h4>Popis</h4>
      <div class="row-fluid spacer">
        <label class="spacer">Stručný popis receptu</label>
        <%= f.text_area :annotation, :class => "input-block-level", :rows => "3" %>

        <label class="spacer">Popis receptu</label>
        <%= f.text_area :content, :class => "input-block-level", :rows => "10" %>
      </div>

      <hr />

      <h4>Doplňující informace</h4>

      <label>Složitost přípravy</label>
      <%= f.select :level, options_for_select(get_recipe_level_options, @recipe.level.to_s) %>

      <label>Odhadovaný čas přípravy (minuty)</label>
      <%= f.number_field :estimated_time %>
      
      <p></p>

      <%= f.submit @submit_title, :class => "btn" %>
    <% end %>
  </div>
</div>