<div class="well recipes-list">
  <h2><%= @results_title ? @results_title : "Výsledky hledání" %></h2>
  <% if @recipes != nil %>
    <% @recipes.each do |recipe| %>
      <div class="spacer well active" onclick="window.location = '<%= recipe_path(recipe.id) %>'">
        <div class="pull-left">
          <%= get_thumb_icon(recipe) %>
        </div>
        <div>
          <h5>
            <%= recipe.name %>
            <% if @badges && @badges[recipe.id] %>
              <span class="badge <%= @badges[recipe.id]['class'] %>"><%= @badges[recipe.id]['title'] %></span>
            <% end %>-
            <%= users_filter("show", {:id => recipe.user.id.to_s }) ? link_to(recipe.user.username, user_path(recipe.user)) : recipe.user.username %> -
            <%= recipe.created_at %>
          </h5>
          <p><%= recipe.annotation %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>