<script type="text/javascript" src="<%= asset_path "pages/recipes_show.js" %>"></script>

<input type="hidden" id="recipe_id" value="<%= @recipe.id %>" />
<div class="span3">
  <div class="well">
    <h4>Odkazy na podpostupy</h4>
    <ul id="subrecipes" class="unstyled">
      <% @recipe.subrecipes.each do |subrecipe| %>
        <span>
          <%= link_to subrecipe.subrecipe.name, recipe_path(subrecipe.subrecipe) %>
          <% if recipes_filter("edit", nil, @recipe) %>
            <form action="/recipes/<%= @recipe.id.to_s %>/remove_subrecipe" method="GET">
              <input type="hidden" name="subrecipe" value="<%= subrecipe.subrecipe.id.to_s %>" />
              <input type="submit" value="X" class="btn" />
            </form>
          <% end %>
          <br />
        </span>
      <% end %>
      <span id="recipes_empty" class="<%= @recipe.subrecipes.length == 0 ? nil : "hidden" %>">
        Žádné
        <br />
      </span>
    </ul>
    <% if recipes_filter("edit", nil, @recipe) %>
      <form action="/recipes/<%= @recipe.id.to_s %>/add_subrecipe" method="get" onsubmit="return Subrecipes.validateForm()">
        <input name="subrecipe" id="new_subrecipe_url" type="text" />
        <input type="submit" class="btn" value="Přidat podpostup" />
      </form>
    <% end %>
    <legend></legend>
    <h4>Zajímavé články k receptu</h4>
    <ul id="articles" class="unstyled">
      <% @recipe.articles.each do |article| %>
        <span>
          <%= link_to article.title, article_path(article) %>
          <% if recipes_filter("edit", nil, @recipe) %>
            <form action="/recipes/<%= @recipe.id.to_s %>/remove_connected_article" method="GET">
              <input type="hidden" name="article" value="<%= article.id.to_s %>" />
              <input type="submit" value="X" class="btn" />
            </form>
          <% end %>
          <br />
        </span>
      <% end %>
      <% if @recipe.articles.length == 0 %>
        <span>Žádné<br /></span>
      <% end %>
    </ul>
    <% if recipes_filter("edit", nil, @recipe) %>
      <form action="/recipes/<%= @recipe.id.to_s %>/add_connected_article" method="get">
        <input name="article" type="text" />
        <input type="submit" class="btn" value="Přidat článek" />
      </form>
    <% end %>
  </div>

  <div class="well">
    <legend>Podat žádost na ingredienci</legend>
    <input id="ingredience_request_name" type="text" placeholder="Název" />
    <input id="ingredience_request_units" type="text" placeholder="Jednotky" />
    <label>Anotace</label>
    <textarea id="ingredience_request_annotation" cols="" rows="3" class="input-block-level"></textarea>
    <label>Popis</label>
    <textarea id="ingredience_request_content" cols="" rows="5" class="input-block-level"></textarea>
    <button class="btn" onclick="IngredienceRequest.submit()">Podat žádost</button>
  </div>
</div>

<div class="span8">
  <div class="well">
    <h2><%= @recipe.name %></h2>
    <div class="row-fluid spacer">
      <% if @recipe.image != nil %>
        <div class="span6">
          <%= get_icon(@recipe) %>
        </div>
      <% end %>
      <div class="span6">
        <dl class="dl-horizontal">
          <% @recipe.ingredienceRecipeConnectors.each do |ingredienceConn| %>
            <dt>
              <%= ingrediences_filter("show", nil, ingredienceConn.ingredience) ?
                link_to(ingredienceConn.ingredience.name, ingredience_path(ingredienceConn.ingredience)) : ingredienceConn.ingredience.name %>
            </dt>
            <dd>
              <%= ingredienceConn.quantity %>
              <%= ingredienceConn.ingredience.units %>
              <% if recipes_filter("edit", nil, @recipe) %>
                (důležitost: <%= ingredienceConn.importance %>)
              <% end %>
              <% if recipes_filter("remove_ingredience", nil, @recipe) %>
                <%= link_to "(smazat)", "/recipes/"+@recipe.id.to_s+"/remove_ingredience?connector_id="+ingredienceConn.id.to_s %>
              <% end %>
            </dd>
          <% end %>
        </dl>
      </div>
    </div>

    <% if recipes_filter("edit", nil, @recipe) %>
      <legend class="spacer"></legend>

      <div class="spacer">
        <% if recipes_filter("add_ingredience", nil, @recipe) %>
          <div>
            <form action="/recipes/<%= @recipe.id %>/add_ingredience" method="GET" onsubmit="return RecipeIngredience.validateForm()">
              <select name="ingredience" id="new_ingredience_list">
                <optgroup label="Schválené" id="new_ingredience_list_accepted"></optgroup>
                <optgroup label="Neschválené" id="new_ingredience_list_pending"></optgroup>
              </select>
              <input type="text" name="quantity" id="new_ingredience_quantity" class="input-small" placeholder="množství" />
              <input type="text" name="importance" id="new_ingredience_importance" class="input-small" placeholder="důležitost" />
              <input type="submit" value="Přidat ingredienci" class="btn" />
            </form>
          </div>
        <% end %>
        <% if recipes_filter("add_category", nil, @recipe) %>
          <div>
            <form action="/recipes/<%= @recipe.id %>/add_category" method="GET">
              <select name="category" id="new_category_list">
                <% for category in RecipeCategory.order(:name).all %>
                  <option value="<%= category.id %>"><%= category.name %></option>
                <% end %>
              </select>
              <input type="submit" value="Přidat kategorii" class="btn" />
            </form>
          </div>
        <% end %>
      </div>

      <legend class="spacer"></legend>
    <% end %>

    <div class="spacer">
      <p><b>Složitost:</b>
        <span class="badge <%= LEVEL_CLASS[@recipe.level] %>"><%= LEVEL_TEXT[@recipe.level] %></span>
      </p>
      <p><b>Odhadovaný čas:</b> <%= @recipe.estimated_time %> min</p>
      <p>
        <b>Kategorie:</b>
        <% for category in @recipe.recipeCategories %>
          <%= category.name + (category != @recipe.recipeCategories.last ? ", " : "") %>
          <% if recipes_filter("remove_category", nil, @recipe) %>
            <%= link_to "(smazat)", "/recipes/"+@recipe.id.to_s+"/remove_category?category="+category.id.to_s %>
          <% end %>
        <% end %>
      </p>
    </div>

    <legend class="spacer"></legend>

    <div class="spacer">
      <p><%= @recipe.annotation %></p>
      <p><%= simple_format @recipe.content %></p>
    </div>

    <legend class="spacer"></legend>

    <div class="spacer">
      <% if marks_filter("show", nil, nil) %>
        <h5>
          Hodnocení: <span id="recipe_mark"><%= get_mark_str @recipe %></span>
          <% if @my_mark != nil %>
          (moje: <span id="recipe_mark_2"><%= @my_mark.value %></span>)
          <% end %>
        </h5>
      <% end %>
      <% if marks_filter("create", nil, nil) %>
        <div id="star">
          <div id="star1" class="btn btn-small" onclick="Mark.submit(1)"><i class="icon-star"></i></div>
          <div id="star2" class="btn btn-small" onclick="Mark.submit(2)"><i class="icon-star"></i></div>
          <div id="star3" class="btn btn-small" onclick="Mark.submit(3)"><i class="icon-star"></i></div>
          <div id="star4" class="btn btn-small" onclick="Mark.submit(4)"><i class="icon-star"></i></div>
          <div id="star5" class="btn btn-small" onclick="Mark.submit(5)"><i class="icon-star"></i></div>
        </div>
      <% end %>

      <label></label>

      <%= @my_mark != nil && marks_filter("delete", nil, @my_mark) ? button_to("Smazat mojí známku", { :controller => "marks", :action => "destroy", :id => @my_mark.id }, { :method => :get, :class => "btn"}) : nil %>
      <%= recipes_filter("edit", nil, @recipe) ? button_to("Upravit recept", { :controller => "recipes", :action => "edit", :id => @recipe.id}, { :method => :get, :class => "btn"}) : nil %>
    </div>

    <legend class="spacer"></legend>

    <%= render "comments/list" %>
    <%= render "comments/form" %>
  </div>
</div>