<div class="span8 offset2 well">
  <h2>Správa uživatelů</h2>

  <label class="spacer">Vyhledat uživatele: </label>
  <div class="input-append">
    <form id="users-filter" action="/users">
      <input type="text" name="filter[username]" placeholder="Uživatelské jméno" value="<%= get_filter "username" %>" />
      <button class="btn" type="submit">Vyhledat</button>
    </form>
  </div>

  <table class="table table-hower spacer">
    <thead>
      <tr>
        <th>#</th>
        <th>Uživatelské jméno</th>
        <th>E-mailová adresa</th>
        <th>Příjmení</th>
        <th>Jméno</th>
        <th>Aktivován</th>
        <th>Akce</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr class="<%= index_get_row_class user %>">
          <td><%= user.id %></td>
          <td><%= users_filter("show", :id => user.id) ? link_to(user.username, user_path(user)) : user.username %></td>
          <td><%= user.email %></td>
          <td><%= user.second_name %></td>
          <td><%= user.first_name %></td>
          <td><%= user.activation_state %></td>
          <td class="btn-group">
            <% get_action_buttons(user).each do |button| %>
              <%= button %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>