<div class="span10 offset1">
  <div class="well">
    <h2>Content</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor pretium posuere. Aliquam erat volutpat. Nullam malesuada sagittis enim, vel rhoncus quam auctor et. Nunc luctus adipiscing fringilla. Mauris urna turpis, accumsan ut molestie non, elementum eu diam. Vestibulum vitae risus eu metus imperdiet mollis at at ante. Phasellus facilisis risus et velit tincidunt at tincidunt nisi porta. Nam lacinia ullamcorper lobortis. Curabitur tempus convallis sapien, id congue arcu porta nec. Nulla facilisi. Sed ultrices orci vel lacus mollis quis laoreet nisi tempus. Proin in felis mi, sit amet posuere magna. Nunc leo velit, commodo vel dignissim ut, malesuada eget eros.</p>
    <p>Nulla viverra magna ut eros semper eget luctus lectus egestas. Praesent diam ante, ultrices eget feugiat vitae, consectetur non augue. Praesent in tellus a justo consequat pharetra eu vel diam. Etiam odio enim, pulvinar in iaculis eu, bibendum id eros. Curabitur pharetra sagittis nisl in euismod. Donec interdum egestas ante nec hendrerit. Phasellus fringilla eros ut metus ornare non consectetur nisl rhoncus. Nulla risus dolor, ornare sit amet semper at, facilisis eu eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel arcu vel sapien mollis luctus. Phasellus non eros sem, laoreet aliquet orci. Vestibulum in velit mauris, id congue mauris. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris lacinia pulvinar magna vitae iaculis. Morbi tellus tortor, varius in interdum sit amet, vestibulum in quam. Morbi nibh risus, porta vitae fringilla at, accumsan quis eros. </p>
  </div>

  <div class="row-fluid">
    <div class="span4 well">
      <h3>Nejnovší recepty</h3>
      <% @newest.each do |item| %>
        <div class="spacer">
          <img src="<%=asset_path "minisandwich.png" %>" alt=""/>
          <b><%= item.name %></b>
          <p><%= item.annotation %></p>
          <p>Přidáno: <%= item.created_at %></p>
          <%= link_to "Dále >>", recipe_path(item.id) %>
        </div>
      <% end %>
    </div>

    <div class="span4 well">
      <h3>Náhodné recepty</h3>
      <% @random.each do |item| %>
        <div class="spacer">
          <img src="<%=asset_path "minisandwich.png" %>" alt=""/>
          <b><%= item.name %></b>
          <p><%= item.annotation %></p>
          <%= link_to "Dále >>", recipe_path(item.id) %>
        </div>
      <% end %>
    </div>

    <div class="span4 well">
      <h3>Nejlepší recepty</h3>
      <% @best.each do |item| %>
        <div class="spacer">
          <img src="<%=asset_path "minisandwich.png" %>" alt=""/>
          <b><%= item.name %></b>
          <p><%= item.annotation %></p>
          <p>Známka: <%= item.avg_value %></p>
          <%= link_to "Dále >>", recipe_path(item.id) %>
        </div>
      <% end %>
    </div>
  </div>
</div>