<%= form_for(@recipe_category_link) do |f| %>
  <% if @recipe_category_link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe_category_link.errors.count, "error") %> prohibited this recipe_category_link from being saved:</h2>

      <ul>
      <% @recipe_category_link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :recipe %><br />
    <%= f.text_field :recipe %>
  </div>
  <div class="field">
    <%= f.label :recipeCategory %><br />
    <%= f.text_field :recipeCategory %>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
