<p id="notice"><%= notice %></p>

<p>
  <b>Recipe:</b>
  <%= @recipe_category_link.recipe %>
</p>

<p>
  <b>Recipecategory:</b>
  <%= @recipe_category_link.recipeCategory %>
</p>

<p>
  <b>Note:</b>
  <%= @recipe_category_link.note %>
</p>


<%= link_to 'Edit', edit_recipe_category_link_path(@recipe_category_link) %> |
<%= link_to 'Back', recipe_category_links_path %>
