<h1>Listing users</h1>

<table>
  <tr>
    <th>ID</th>
    <th>name</th>
    <th>title</th>
    <th>description</th>
    <th>role</th>
  </tr>

<% @roles.each do |role| %>
  <tr>
    <td><%= role.id %></td>
    <td><%= role.name %></td>
    <td><%= role.title %></td>
    <td><%= role.description %></td>
    <td><%= role.the_role %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
