<%= form_for(@recipe_article_link) do |f| %>
  <% if @recipe_article_link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe_article_link.errors.count, "error") %> prohibited this recipe_article_link from being saved:</h2>

      <ul>
      <% @recipe_article_link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :recipe %><br />
    <%= f.text_field :recipe %>
  </div>
  <div class="field">
    <%= f.label :article %><br />
    <%= f.text_field :article %>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
