<h1>Listing ingredience_category_links</h1>

<table>
  <tr>
    <th>Ingredience</th>
    <th>Ingrediencecategory</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ingredience_category_links.each do |ingredience_category_link| %>
  <tr>
    <td><%= ingredience_category_link.ingredience %></td>
    <td><%= ingredience_category_link.ingredienceCategory %></td>
    <td><%= ingredience_category_link.note %></td>
    <td><%= link_to 'Show', ingredience_category_link %></td>
    <td><%= link_to 'Edit', edit_ingredience_category_link_path(ingredience_category_link) %></td>
    <td><%= link_to 'Destroy', ingredience_category_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ingredience category link', new_ingredience_category_link_path %>
