<p id="notice"><%= notice %></p>

<p>
  <b>Ingredience:</b>
  <%= @ingredience_category_link.ingredience %>
</p>

<p>
  <b>Ingrediencecategory:</b>
  <%= @ingredience_category_link.ingredienceCategory %>
</p>

<p>
  <b>Note:</b>
  <%= @ingredience_category_link.note %>
</p>


<%= link_to 'Edit', edit_ingredience_category_link_path(@ingredience_category_link) %> |
<%= link_to 'Back', ingredience_category_links_path %>
