<li style="margin-right: 10px;">
    <button id="d1" class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> <%= current_user.username %> <span class="caret"></span></button>
    <ul class="dropdown-menu" aria-labelledby="d1">
        <li>
          <% if users_filter("show", nil) %>
            <%= link_to "Moje údaje", "/my_profile" %>
          <% end %>
        </li>
        <li>
          <% if users_filter("recipes", nil) %>
            <%= link_to "Moje recepty", "/my_recipes" %>
          <% end %>
        </li>
        <li>
          <% if users_filter("articles", nil) %>
            <%= link_to "Moje články", "/my_articles" %>
          <% end %>
        </li>
        <li>
          <%= link_to "Odhlášení", "/logout" %>
        </li>
    </ul>
</li>
<% if show_lists_dropdown %>
  <li style="margin-right: 50px;" class="dropdown">
      <a href="#" id="d2" class="dropdown-toggle" role="button" data-toggle="dropdown"><i class="icon-list-alt"></i> Seznamy <span class="caret"></span></a>
      <ul id="lists" class="dropdown-menu" aria-labelledby="d2">
          <li>
            <% if show_list_users %>
              <%= link_to "Uživatelé", "/users" %>
            <% end %>
          </li>
          <li>
            <% if show_list_marks %>
              <%= link_to "Hodnocení", "/marks" %>
            <% end %>
          </li>
          <li>
            <% if show_list_ingrediences %>
              <%= link_to "Ingredience", "/ingrediences" %>
            <% end %>
          </li>
          <li>
            <% if show_list_recipe_categories %>
              <%= link_to "Kategorie receptů", "/recipe_categories" %>
            <% end %>
          </li>
          <li>
            <% if show_list_ingredience_categories %>
              <%= link_to "Kategorie ingrediencí", "/ingredience_categories" %>
            <% end %>
          </li>
      </ul>
  </li>
<% end %>
<li>
  <%= link_to "Úvodní stránka", "/" %>
</li>
<li>
  <%= link_to "Nejnovější recepty", "/recipes/newest" %>
</li>
<li>
  <%= link_to "Nápověda", "/help/index" %>
</li>
