<div class="span8 offset2">
  <div class="well">
    <h2>Změna hesla</h2>
    <%= form_for @user, :url => password_reset_path(@user), :html => {:method => :put} do |f| %>
      <%= render "layouts/errors" %>

      <%= f.label :email %>
      <%= @user.email %>

      <%= f.label :password %><br />
      <%= f.password_field :password %>

      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
      <%= hidden_field_tag :token, @token %>

      <div class="btn-group">
        <%= f.submit, :class => "btn", :value => "Nastavit" %>
      </div>
    <% end %>
  </div>
</div>