<div class="span8 offset2 home-search">
  <div class="well">
    <h2>Výsledky hledání - recepty</h2>
    <% if @recipes.length > 0 %>
      <% @recipes.each do |item| %>
        <% if recipes_filter("show", nil, item) %>
          <div class="spacer well active" onclick="window.location = '<%= recipe_path(item.id) %>'">
            <div class="pull-left">
              <%= get_thumb_icon(item) %>
            </div>
            <div>
              <h5>
                <%= item.name %> -
                <%= link_to item.user.username, user_path(item.user) %>
              </h5>
              <p><%= item.annotation %></p>
              <p><%= l item.created_at %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else # recipes.length == 0 %>
      <div class="spacer">
        <h5>
          <%= @recipes_note ? @recipes_note : "Žádné recepty" %>
        </h5>
      </div>
    <% end %>
    <h2>Výsledky hledání - články</h2>
    <% if @articles.length > 0 %>
      <% @articles.each do |item| %>
        <% if articles_filter("show", nil, item) %>
          <div class="spacer well active" onclick="window.location = '<%= article_path(item.id) %>'">
            <h5>
              <%= item.title %> -
              <%= link_to item.user.username, user_path(item.user) %>
            </h5>
            <p><%= item.annotation %></p>
            <p><%= l item.created_at %></p>
          </div>
        <% end %>
      <% end %>
    <% else # articles.length == 0 %>
      <div class="spacer">
        <h5>
          <%= @articles_note ? @articles_note : "Žádné články" %>
        </h5>
      </div>
    <% end %>
  </div>
</div>