<p id="notice"><%= notice %></p>

<p>
  <b>Recipe:</b>
  <%= @recipe_ingredience_link.recipe %>
</p>

<p>
  <b>Ingredience:</b>
  <%= @recipe_ingredience_link.ingredience %>
</p>

<p>
  <b>Importance:</b>
  <%= @recipe_ingredience_link.importance %>
</p>

<p>
  <b>Quantity:</b>
  <%= @recipe_ingredience_link.quantity %>
</p>

<p>
  <b>Note:</b>
  <%= @recipe_ingredience_link.note %>
</p>


<%= link_to 'Edit', edit_recipe_ingredience_link_path(@recipe_ingredience_link) %> |
<%= link_to 'Back', recipe_ingredience_links_path %>
