<h1>Listing recipe_categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Descirption</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recipe_categories.each do |recipe_category| %>
  <tr>
    <td><%= recipe_category.name %></td>
    <td><%= recipe_category.descirption %></td>
    <td><%= link_to 'Show', recipe_category %></td>
    <td><%= link_to 'Edit', edit_recipe_category_path(recipe_category) %></td>
    <td><%= link_to 'Destroy', recipe_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recipe category', new_recipe_category_path %>
