<div class="span8 offset2">
  <div class="well">
    <h2><%= @recipe_category.name %></h2>
    <div class="spacer">
      <p>
        <%= @recipe_category.description %>
      </p>
      <div class="btn-group">
        <% if recipe_categories_filter("edit", nil, @recipe_category) %>
          <%= link_to('Editovat', edit_recipe_category_path(@recipe_category), :class => "btn") %>
        <% end %>

        <% if recipe_categories_filter("destroy", nil, @recipe_category) %>
          <%= link_to('Smazat', @recipe_category, method: :delete, data: { confirm: 'Jste si jistý(á)?' }, :class => "btn") %>
        <% end %>

        <% if recipe_categories_filter("index", nil, @recipe_category) %>
          <%= link_to('Seznam', recipe_categories_path, :class => "btn") %>
        <% end %>
      </div>
    </div>
  </div>
</div>