<script type="text/javascript" src="<%= asset_path "pages/ingredience_categories_form.js" %>"></script>

<%= form_for(@ingredience_category, :html => { :onsubmit => "return Validator.validate({ group: \"ingredience_category_form\", showMessage: false })" }) do |f| %>
  <%= render "layouts/errors" %>

  <label>Název</label>
  <%= f.text_field :name %>
  <label>Popis</label>
  <%= f.text_area :description, :class => "input-block-level", :rows => "6" %>
  <%= f.submit :value => "Vytvořit", :class => "btn" %>
<% end %>
