<div class="span10 offset1">
  <div class="well">
    <h2>Kategorie ingrediencí</h2>
    <table class="table table-hower spacer">
      <tr>
        <th>Název</th>
        <th>Popis</th>
        <th>Akce</th>
      </tr>

      <% @ingredience_categories.each do |ingredience_category| %>
        <tr>
          <td><%= ingredience_category.name %></td>
          <td><%= ingredience_category.description %></td>
          <td class="btn-group">
            <%= link_to 'Zobrazit', ingredience_category, :class => "btn" %>
            <%= link_to 'Editovat', edit_ingredience_category_path(ingredience_category), :class => "btn" %>
            <%= link_to 'Smazat', ingredience_category, :class => "btn", method: :delete, data: { confirm: 'Jste si jistý(á)?' } %>
          </td>
        </tr>
      <% end %>
    </table>
    <%= ingredience_categories_filter("new", nil, nil) ? button_to('Nová kategorie', new_ingredience_category_path, :class => "btn", method: :get) : nil %>
  </div>
</div>