<%= form_for(@ingredience_category) do |f| %>
  <% if @ingredience_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ingredience_category.errors.count, "error") %> prohibited this ingredience_category from being saved:</h2>

      <ul>
        <% @ingredience_category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <label>Název</label>
  <%= f.text_field :name %>
  <label>Popis</label>
  <%= f.text_area :descirption, :class => "input-block-level", :rows => "6" %>
  <%= f.submit :value => "Vytvořit", :class => "btn" %>
<% end %>
