<h1>Listing ingredience_categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ingredience_categories.each do |ingredience_category| %>
  <tr>
    <td><%= ingredience_category.name %></td>
    <td><%= ingredience_category.type %></td>
    <td><%= link_to 'Show', ingredience_category %></td>
    <td><%= link_to 'Edit', edit_ingredience_category_path(ingredience_category) %></td>
    <td><%= link_to 'Destroy', ingredience_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ingredience category', new_ingredience_category_path %>
