<div class="span8 offset2 well">
  <h2>Seznam známek</h2>
  <table class="table table-hower spacer">
    <tr>
      <th>ID</th>
      <th>Uživatel</th>
      <th>Recept</th>
      <th>Hodnota</th>
      <th>Akce</th>
    </tr>

    <% @marks.each do |mark| %>
      <tr>
        <td><%= mark.id %></td>
        <td><%= link_to mark.user.username, mark.user %></td>
        <td><%= link_to mark.recipe.name, mark.recipe %></td>
        <td><%= mark.value %></td>
        <td>
          <%= link_to 'Smazat', 'marks/destroy?id='+mark.id.to_s, data: { confirm: 'Jste si jistý(á)?' }, :class => "btn" %>
        </td>
      </tr>
    <% end %>
  </table>
</div>