<h1>Listing marks</h1>

<table>
  <tr>
    <th>ID</th>
    <th>User</th>
    <th>Recipe</th>
    <th>Value</th>
    <th></th>
  </tr>

<% @marks.each do |mark| %>
  <tr>
    <td><%= mark.id %></td>
    <td><%= mark.user.username %></td>
    <td><%= mark.recipe.name %></td>
    <td><%= mark.value %></td>
    <td><%= link_to 'Destroy', 'marks/destroy?id='+mark.id.to_s, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>