<div class="span3">
  <div class="well">
    <h4>Odkazy na podpostupy</h4>
    <ul class="unstyled">
      <% if @links_sub != nil %>
        <% @links_sub.each do |link| %>
          <%= link_to link.title, link.url %><br />
        <% end %>
      <% else %>
        Žádné
      <% end %>
    </ul>
    <legend></legend>
    <h4>Zajímavé články k receptu</h4>
    <ul class="unstyled">
      <% if @links_interesting != nil %>
          <% @links_interesting.each do |link| %>
            <%= link_to link[0], link[1] %><br />
          <% end %>
      <% else %>
        Žádné
      <% end %>
    </ul>
  </div>
</div>

<div class="span8">
  <div class="well">
    <h2><%= @recipe.name %></h2>
    <div class="row-fluid spacer">
      <div class="span6">
        <img src="img/sample1.jpg" class="img-rounded" alt="Náhled" />
      </div>
      <div class="span6">
        <dl class="dl-horizontal">
          <% @recipe.ingredienceRecipeConnectors.each do |ingredienceConn| %>
            <dt><%= ingredienceConn.ingredience.name %></dt>
            <dd>
              <%= ingredienceConn.quantity %>
              <%= ingredienceConn.ingredience.units %>
            </dd>
          <% end %>
        </dl>
      </div>
    </div>
    <div class="spacer">
      <p>Složitost:
        <span class="badge <%= LEVEL_CLASS[@recipe.level] %>"><%= LEVEL_TEXT[@recipe.level] %></span>
      </p>
      <p>Odhadovaný čas: <%= @recipe.estimated_time %> min</p>
      <p><%= @recipe.annotation %></p>
      <p><%= @recipe.content %></p>
    </div>
    <div>
      <h5>Hodnocení: <%= get_mark_str @recipe %></h5>
      <div id="star">
        <a id="star1" class="btn btn-small" href="/marks/create?value=1&recipe=<%= @recipe.id %>"><i class="icon-star"></i></a>
        <a id="star1" class="btn btn-small" href="/marks/create?value=2&recipe=<%= @recipe.id %>"><i class="icon-star"></i></a>
        <a id="star1" class="btn btn-small" href="/marks/create?value=3&recipe=<%= @recipe.id %>"><i class="icon-star"></i></a>
        <a id="star1" class="btn btn-small" href="/marks/create?value=4&recipe=<%= @recipe.id %>"><i class="icon-star"></i></a>
        <a id="star1" class="btn btn-small" href="/marks/create?value=5&recipe=<%= @recipe.id %>"><i class="icon-star"></i></a>
      </div>

      <label></label>

      <%= recipes_filter("edit", nil, @recipe) ? button_to("Upravit recept", { :controller => "recipes", :action => "edit", :id => @recipe.id}, { :class => "btn"}) : nil %>
      <% if articles_filter("new", nil, nil) # neresim pres renderovaci funkci, protoze s vnorenym elementem je to neefektivni %>
        <a class="btn pull-right" href="/articles/new"><i class="icon-pencil"></i> Napsat článek</a>
      <% end %>
    </div>

    <legend class="spacer"></legend>

    <%= render "comments/list" %>
    <%= render "comments/form" %>
  </div>
</div>