<% if recipes_filter("edit", nil, @recipe) %>
<script type="text/javascript" src="<%=asset_path "recipes_show.js" %>"></script>
<% end %>
<input type="hidden" id="recipe_id" value="<%= @recipe.id %>" />
<div class="span3">
  <div class="well">
    <h4>Odkazy na podpostupy</h4>
    <ul id="subrecipes" class="unstyled">
      <% @recipe.subrecipes.each do |subrecipe| %>
        <span>
          <%= link_to subrecipe.subrecipe.name, recipe_path(subrecipe.subrecipe) %>
          <% if recipes_filter("edit", nil, @recipe) %>
          <input type="button" value="X" onclick="//ConnectedRecipes.remove(<%= subrecipe.subrecipe.id %>, this.parentNode)" />
          <% end %>
          <br />
        </span>
      <% end %>
      <span id="recipes_empty" class="<%= @recipe.subrecipes.length == 0 ? nil : "hidden" %>">
        Žádné
        <br />
      </span>
    </ul>
    <% if recipes_filter("edit", nil, @recipe) %>
      <input type="text" id="connected_recipes_url" placeholder="URL podpostupu k propojení" disabled />
      <input type="button" class="btn" value="Přidat podpostup" onclick="ConnectedArticles.add()" disabled />
    <% end %>
    <legend></legend>
    <h4>Zajímavé články k receptu</h4>
    <ul id="articles" class="unstyled">
      <% @recipe.articles.each do |article| %>
        <span>
          <%= link_to article.title, article_path(article) %>
          <% if recipes_filter("edit", nil, @recipe) %>
          <input type="button" value="X" onclick="ConnectedArticles.remove(<%= article.id %>, this.parentNode)" />
          <% end %>
          <br />
        </span>
      <% end %>
      <span id="articles_empty" class="<%= @recipe.articles.length == 0 ? nil : "hidden" %>">
        Žádné
        <br />
      </span>
    </ul>
    <% if recipes_filter("edit", nil, @recipe) %>
      <input type="text" id="connected_articles_url" placeholder="URL článku k propojení" />
      <input type="button" class="btn" value="Přidat článek" onclick="ConnectedArticles.add()" />
    <% end %>
  </div>
</div>

<div class="span8">
  <div class="well">
    <h2><%= @recipe.name %></h2>
    <div class="row-fluid spacer">
      <% if @recipe.image != nil %>
        <div class="span6">
          <img src="<%= @recipe.image %>" class="img-rounded" alt="Náhled" />
        </div>
      <% end %>
      <div class="span6">
        <dl class="dl-horizontal">
          <% @recipe.ingredienceRecipeConnectors.each do |ingredienceConn| %>
            <dt>
              <%= ingrediences_filter("show", nil, ingredienceConn.ingredience) ?
                link_to(ingredienceConn.ingredience.name, ingredience_path(ingredienceConn.ingredience)) : ingredienceConn.ingredience.name %>
            </dt>
            <dd>
              <%= ingredienceConn.quantity %>
              <%= ingredienceConn.ingredience.units %>
            </dd>
          <% end %>
        </dl>
      </div>
    </div>
    <div class="spacer">
      <p>Složitost:
        <span class="badge <%= LEVEL_CLASS[@recipe.level] %>"><%= LEVEL_TEXT[@recipe.level] %></span>
      </p>
      <p>Odhadovaný čas: <%= @recipe.estimated_time %> min</p>
      <p><%= @recipe.annotation %></p>
      <p><%= @recipe.content %></p>
    </div>
    <div>
      <% if marks_filter("show", nil, nil) %>
        <h5>
          Hodnocení: <span id="recipe_mark"><%= get_mark_str @recipe %></span>
          <% if @my_mark != nil %>
          (moje: <span id="recipe_mark_2"><%= @my_mark.value %></span>)
          <% end %>
        </h5>
      <% end %>
      <% if marks_filter("create", nil, nil) %>
        <script type="text/javascript" src="<%=asset_path "recipes_mark.js" %>"></script>
        <div id="star">
          <div id="star1" class="btn btn-small" onclick="Mark.submit(1)"><i class="icon-star"></i></div>
          <div id="star2" class="btn btn-small" onclick="Mark.submit(2)"><i class="icon-star"></i></div>
          <div id="star3" class="btn btn-small" onclick="Mark.submit(3)"><i class="icon-star"></i></div>
          <div id="star4" class="btn btn-small" onclick="Mark.submit(4)"><i class="icon-star"></i></div>
          <div id="star5" class="btn btn-small" onclick="Mark.submit(5)"><i class="icon-star"></i></div>
        </div>
      <% end %>

      <label></label>

      <%= @my_mark != nil && marks_filter("delete", nil, @my_mark) ? button_to("Smazat mojí známku", { :controller => "marks", :action => "destroy", :id => @my_mark.id }, { :method => :get, :class => "btn"}) : nil %>
      <%= recipes_filter("edit", nil, @recipe) ? button_to("Upravit recept", { :controller => "recipes", :action => "edit", :id => @recipe.id}, { :method => :get, :class => "btn"}) : nil %>
    </div>

    <legend class="spacer"></legend>

    <%= render "comments/list" %>
    <%= render "comments/form" %>
  </div>
</div>