<h1>Nový uživatel</h1>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Užjvatelské jméno *<br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    E-mail *<br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    Heslo *<br />
    <%= f.password_field :password %>
    (alespoň 3 znaky)
  </div>
  <div class="field">
    Potvrzení hesla *<br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    Jméno<br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    Poznámka<br />
    <%= f.text_area :note %>
  </div>
  <div class="field">
    Role<br />
    <%= @user.role %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', :back %>
