<div class="span8 offset2">
  <div class="well">
    <h2>Registrace</h2>

    <%= form_for(@user) do |f| %>
      <%= render "layouts/errors" %>
    
      <div class="row-fluid spacer">
        <div class="span5">
          <legend>Povinné údaje</legend>
          <label>Uživatelské jméno</label>
          <%= f.text_field :username %>
          <label>E-mail adresa</label>
          <%= f.email_field :email %>
          <label>Heslo</label>
          <%= f.password_field :password %>
          <label>Potvr. heslo</label>
          <%= f.password_field :password_confirmation %>
        </div>
        <div class="span5 offset2">
          <legend>Další údaje</legend>
          <label>Jméno</label>
          <%= f.text_field :first_name %>
          <label>Příjmení</label>
          <%= f.text_field :second_name %>
          <label>Věk</label>
          <%= f.number_field :age, :min => 1, :max => 100 %>
          <%= f.submit "Registrovat", :class => "btn btn-large spacer btn-primary" %>
          <%#*<a class="btn btn-large spacer btn-primary" href="#">Registrovat</a>%>
        </div>
      </div>
    <% end %>
  </div>
</div>