<p>Detail uživatele</p>

<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Jméno:</b>
  <%= @user.name %>
</p>

<p>
  <b>Poznámka</b>
  <%= get_att_str(@user.note) %>
</p>

<p>
  <b>Role</b>
  <%= @user.role != nil ? @user.role.name : "---" %>
</p>

<p>
  <b>Aktivní</b>
  <%= print_bool(:bool => @user.active) %>
</p>

<% render_edit_button(@user, nil, ' | ') %>
<%= link_to 'Zpět', :back %>
<% render_list_button(' | ', nil) %>