<% if comments_filter 'create', nil, nil %>
  <%= form_for(@comment) do |f| %>
    <%= render "layouts/errors" %>
    <div class="spacer">
      <h4>Napsat komentář</h4>
      <%= f.hidden_field :recipe_id %>
      <%= f.hidden_field :article_id %>
      <%= f.hidden_field :ingredience_id %>
      <%= f.text_area :content, :class => "input-block-level", :rows => "5" %>
      <%= f.submit "Odeslat komentář", :class => "btn" %>
    </div>
  <% end %>
<% end %>