<%#*Přihlášen:%>
<%#= link_to current_user.username.to_s,  user_path(current_user) %>
<%#*<br />%>
<li style="margin-right: 50px;">
    <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> Uživatel <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><%= link_to "Moje údaje", "my_profile" %></li>
        <li><%= link_to "Moje recepty", "my_recipes" %></li>
        <li><%= link_to "Moje články", "my_articles" %></li>
        <li><%= link_to "Odhlášení", "logout" %></li>
    </ul>
</li>
<li><%= link_to "Home", "/" %></li>
<li><%= link_to "Nejnovější recepty", "recipe" %></li>
<li><%= link_to "Help", "help/index" %></li>