<div class="span8 offset2">
  <div class="well">
    <h2>Kategorie receptů</h2>
    <table class="table table-hower spacer">
      <tr>
        <th>Název</th>
        <th>Popis</th>
        <th>Akce</th>
      </tr>

      <% @recipe_categories.each do |recipe_category| %>
        <tr>
          <td><%= recipe_category.name %></td>
          <td><%= recipe_category.description %></td>
          <td class="btn-group">
            <%= link_to 'Zobrazit', recipe_category, :class => "btn" %>
            <%= link_to 'Editovat', edit_recipe_category_path(recipe_category), :class => "btn" %>
            <%= link_to 'Smazat', recipe_category, :class => "btn", method: :delete, data: { confirm: 'Jste si jistý(á)?' } %>
          </td>
        </tr>
      <% end %>
    </table>
    <%= ingredience_categories_filter("new", nil, nil) ? button_to('Nová kategorie', new_recipe_category_path, :class => "btn", method: :get) : nil %>
  </div>
</div>