<p id="notice"><%= notice %></p>

<p>
  <b>Nadpis:</b>
  <%= @article.title %>
</p>

<p>
  <b>Anotace:</b>
  <%= @article.annotation %>
</p>

<p>
  <b>Obsah:</b>
  <%= @article.content %>
</p>

<p>
  <b>Autor:</b>
  <%= link_to @article.user.username, @article.user %>
</p>