<%= form_for(@ingredience) do |f| %>
  <% if @ingredience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ingredience.errors.count, "error") %> prohibited this ingredience from being saved:</h2>

      <ul>
      <% @ingredience.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :annotation %><br />
    <%= f.text_area :annotation %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :avaliability %><br />
    <%= f.number_field :avaliability, :min => 1, :max => 1000 %>
  </div>
  <div class="field">
    <%= f.label :units %><br />
    <%= f.text_field :units %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>