<%= form_for(@ingredience) do |f| %>
  <% if @ingredience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ingredience.errors.count, "error") %> prohibited this ingredience from being saved:</h2>

      <ul>
      <% @ingredience.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    Název
    <%= f.text_field :name %>
  </p>
  <p>
    Anotace<br />
    <%= f.text_area :annotation %>
  </p>
  <p>
    Obsah<br />
    <%= f.text_area :content %>
  </p>
  <p>
    Dostupnost
    <%= f.number_field :avaliability, :min => 1, :max => 1000 %>
  </p>
  <p>
    Jednotky
    <%= f.text_field :units %>
  </p>
  <p>
    Schválená
    <%= f.check_box :activation_state %>
  </p>
  <p>
    <%= f.submit 'Nastavit', :class => "btn" %>
  </p>
<% end %>

<% if ingrediences_filter("index", nil, @ingredience) %>
  <%= button_to('Seznam', ingrediences_path, :method => :get, :class => "btn") %>
<% end %>