<h1>Seznam ingrediencí</h1>

<table>
  <tr>
    <th>Název</th>
    <th>Autor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ingrediences.each do |ingredience| %>
  <tr>
    <td><%= ingredience.name %></td>
    <td><%= ingredience.user.username %></td>
    <td><%= link_to 'Zobrazit', ingredience %></td>
    <td><%= link_to 'Editovat', edit_ingredience_path(ingredience) %></td>
    <td><%= link_to 'Smazat', ingredience, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nová ingredience', new_ingredience_path %>
