<div class="span10 offset1">
  <div class="well">
    <h2><%= @ingredience.name %></h2>
    <div class="spacer">
      <p>Autor: <%= @ingredience.user.username %></p>
      <p>Jednotky: <%= @ingredience.user.username %></p>
      <p>Dostupnost: <%= @ingredience.avaliability %></p>
      <p><%= @ingredience.annotation %></p>
      <p><%= @ingredience.content %></p>
    </div>

    <% if ingrediences_filter("edit", nil, @ingredience) %>
      <%= button_to('Editovat', edit_ingredience_path(@ingredience), :method => :get, :class => "btn") %>
    <% end %>

    <% if ingrediences_filter("destroy", nil, @ingredience) %>
      <%= button_to('Smazat', @ingredience, method: :delete, data: { confirm: 'Jste si jistý(á)?' }, :method => :get, :class => "btn") %>
    <% end %>

    <% if ingrediences_filter("index", nil, @ingredience) %>
      <%= button_to('Seznam', ingrediences_path, :method => :get, :class => "btn") %>
    <% end %>

    <legend class="spacer"></legend>

    <%= render "comments/list" %>
    <%= render "comments/form" %>
  </div>
</div>