<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ingredience.name %>
</p>

<p>
  <b>Annotation:</b>
  <%= @ingredience.annotation %>
</p>

<p>
  <b>Content:</b>
  <%= @ingredience.content %>
</p>

<p>
  <b>Avaliability:</b>
  <%= @ingredience.avaliability %>
</p>

<p>
  <b>Autor:</b>
  <%= @ingredience.user.username %>
</p>

<legend class="spacer"></legend>

<%= render "comments/list" %>
<%= render "comments/form" %>